a {
  text-decoration: none;
  color: #fff;
}

.App {
  color: #fff;
  height: 270vh;
  background: #121828;
}

.InputUserSignIn {
  align-items: center;
  justify-content: center;
  display: flex;
}

.SignInUser {
  right: 100px;
  position: relative;
  height: 60px;
  width: 400px;
  border-bottom: 2px solid grey;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 40px;
  padding: 15px;
  background: #1e2433;
}
