a {
  text-decoration: none;
  color: #fff;
}

.App {
  min-height: 400vh;
  background: #121828;
}

.logo {
  width: 150px;
}

.banner-img {
  width: 412.43px;
  height: 320px;
}

.App-header {
  background: #121828;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
#btn-explore {
  margin: 5px;
}

.welcome-center {
  color: #fff;
  top: 100px;
  position: relative;
  text-align: center;
  display: flow;
}

.select {
  border-radius: 30px;
  border: 5px solid grey;
  background: #121828;
  text-align: center;
  color: grey;
  height: 62px;
  width: 302px;
}

.searchbar {
  top: 200px;
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.offer-top {
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

.offer-location {
}

.offer-form-price {
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  display: flex;
}

.offer-form-price p {
  font-size: 20px;
}

.offer-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid grey;
}

.price p {
  color: #9bdf5b;
margin-bottom: 0px;
}

.offer-description {
  display: flex;
}

.offer-description p {
  padding: 5px;
  border-radius: 30px;
  margin: 5px;
  border: 1px solid #b1f1d1;
}

#searchInput {
  border-radius: 30px;
  border: 5px solid grey;
  background: #121828;
  text-align: center;
  color: grey;
  height: 50px;
  width: 302px;
}

#select-jobcategory {
  border: 5px solid grey;
  background: #121828;
  text-align: center;
  color: grey;
  height: 62px;
  width: 302px;
}

#select-workform {
  border: 5px solid grey;
  background: #121828;
  text-align: center;
  color: grey;
  height: 62px;
  width: 302px;
}

.searchInput_Container {
  margin-bottom: 50px;
}

.offer-image-title {
  min-width: 200px;
  max-width: 250px;
}

.offer-top:hover {
  width: 100%;
  border: 4px dotted rgb(56, 165, 238);
  display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

.template img {
  margin: 10px;
  border-radius: 10px;
}

.template h4 {
  font-size: 30px;
}

.template:hover {
}

.jobcard-offer p {
  margin: 0px;
  font-size: 20px;
  color: grey;
}

.jobcard-widthraw p {
  font-size: 15px;
  padding: 15px;
  border: 3px solid grey;
}

.price {
  font-weight: 800;
  color: grey;
  margin: 10px;
}

.offer-price-form-company {
  min-width: 100px;
max-width: 150px;
}

.workform {
  font-weight: 700;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 40px;
}

.navigation {
  padding: 10px;
  position: static;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.jobdetails {
  background-color: #fff;
  border: 3px solid #272222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1000px;
  height: 500px;
}

.joboffer-desc-container {
  flex: auto;
  display: flex;
}

.joboffer-desc {
  height: 50px;
  margin: 5px;
  text-align: center;
  max-width: 80px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #b1f1d1;
}

#menu {
  height: 45px;
  padding-right: 18px;
  border-radius: 10px;
}
#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 100%;
  text-align: right;
}
#menu li {
  display: inline-block;
  position: relative;
}

#menu li:hover {
  display: inline-block;
  position: relative;
}

#menu a {
  display: block;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}
#menu a.dropdown-arrow:after {
  content: "\2B9F";
  margin-left: 5px;
}
#menu li a:hover {
  border-radius: 30px;
  color: #0099cc;
  background: #f2f2f2;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  color: #fff;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #1b75eb;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul.sub-menus li {
  display: block;
  text-align: left;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
}
#menu ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #444444;
}
@media screen and (max-width: 920px) {
  #menu {
    position: relative;
  }

  .App {
    min-width: 390px;
  }

  .App-header {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 100%;
  }

  .select {
    border-radius: 30px;
    background: #121828;
    text-align: center;
    color: grey;
    border: 5px solid grey;
  }

  .templateContainer {
    display: flex;
    flex-direction: column;
    top: 100px;
    position: relative;
    max-width: 100%;
  }

  .offer-moredetails {
    height: 400px;
    width: 100%;
    position: relative;
    top: 120px;
  }

  .offer-top {
    border-bottom: none;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
  }

  .offer-location {
    position: static;
  }

  .offer-title {
    display: flex;
    align-items: center;
  }

  .offer-form-price {
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }

  .template {
    max-width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    box-shadow: 0px 0px 6px 0px #575757;
    margin: 5px;
  }

  .joboffer-desc {
    height: 50px;
    margin: 5px;
    text-align: center;
    max-width: 80px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #b1f1d1;
  }

  .offer-description {
    margin: 20px;
    flex-direction: column;
    display: flex;
  }

  .jobdetails {
    background-color: #fff;
    border: 3px solid #272222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .template h3 {
    font-size: 18px;
  }

  .template p {
    font-size: 8px;
  }

  .searchbar {
    top: 5px;
    display: flex;
    justify-content: center;
  }

  .searchbar p,
  h4 {
    font-size: 10px;
  }

  .searchbar img {
    width: 50px;
    height: 50px;
  }

  .searchInput_Container {
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
  }

  .banner-img {
    width: 247.46px;
    height: 192px;
  }

  .banner-img {
    width: 350px;
  }

  .navigtion {
    justify-content: left;
  }

  .welcome-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 60px;
    position: relative;
    margin-bottom: 50px;
  }

  .welcome-center h1 {
    font-size: 30px;
  }

  .logo {
    width: 150x;
  }

  #menu ul {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
    text-align: left;
  }
  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 30px;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: #000000;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
}
